<html>
<head>
<title>HTML</title>
<link rel="stylesheet" type="text/css" href="css/mali.css">
</head>
<style>
body
    {
	background-color:grey;
	background-position: center;
	background-image:url('images(1).jfif');
	background-size:cover;
	}

h3{
	text-color:white;
	background-position:center;
  }
p1{
	background-color:grey;
	background-position:center;
  }
ul li
  {
	  display:inline-block;
	  font-size:3000;
	  padding: 20 px;
	  border: 1px solid black;
  }
  ul
  {
	  text-align: center;
  }

body{
	background-repeat:no-repeat;
    }
